# Repository specific
references/
snapshot-tests/bin/

# Rust
target/
Cargo.lock
dist/

# Go
bindings/go/wasm/

# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.so

.Python
.venv/
venv/
build/
dist/
*.egg-info/
.cache

# Other
.DS_Store
.idea/
.vscode/
